@model IEnumerable<WarehouseManagementSystem.Models.PurchaseOrderItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrder.PurchaseOrderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseOrderItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseOrderItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseOrderItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
